rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Users
    // Only authenticated users can read the list of users.
    // A user can only get/write their own document.
    match /users/{userId} {
      allow get, update, delete: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
    }
    match /users/{document=**} {
      allow list: if request.auth != null;
    }
    
    // Shelves
    // Only admins can manage shelves
    match /shelves/{shelfId} {
      allow read, write: if request.auth.token.isAdmin == true;
    }

    // Onus
    // Authenticated users can read.
    // Only admins can create, update, or delete.
    match /onus/{onuId} {
      allow read: if request.auth != null;
      allow write: if request.auth.token.isAdmin == true;
    }

    // Technical Groups
    // Only admins can manage technical groups
    match /technical-groups/{groupId} {
      allow read, write: if request.auth.token.isAdmin == true;
    }
  }
}
